KM_Image_Processing_Client/Connected Services/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetProcessingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isHorizontalFlip" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="isVerticalFlip" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="isGrayScale" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="isEntropyCrop" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessingDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="imgStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="ProcessImageResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>