KM_Image_Processing_Client/Connected Services/ServiceReference1/KM_Image_Processing_Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProcessImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imgStream" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="isHorizontalFlip" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="isVerticalFlip" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="isGrayScale" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="isEntropyCrop" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>